@model List<DTO.ExternalApiDto.Movie.ExternalMovieDto>


@{
    ViewData["Title"] = "MovieList";
    Layout = "~/Views/UserUILayout/LayoutUI.cshtml";
}

<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Mevcut <span>102</span> film var.</p>
                    <label>Sırala:</label>
                    <select>
                        <option value="popularity">Popülerliğe azalan</option>
                        <option value="popularity">Popülerliğe artan</option>
                        <option value="rating">Puan azalan</option>
                        <option value="rating">Puan artan</option>
                        <option value="date">Yayınlanma tarihi azalan</option>
                        <option value="date">Yayınlanma tarihi artan</option>
                    </select>
                    <a href="movielist.html" class="list"><i class="ion-ios-list-outline active"></i></a>
                    <a href="moviegrid.html" class="grid"><i class="ion-grid"></i></a>
                </div>
                @foreach(var i in Model)
                {
                    <div class="movie-item-style-2">
                        <img src="/Film-Review-Movie-Database/images/uploads/mv1.jpg" alt="">
                        <div class="mv-item-infor">
                            <h6><a href="moviesingle.html">@i.title <span>(@i.release_date)</span></a></h6>
                            <p class="rate"><i class="ion-android-star"></i><span>@i.vote_average</span> /10</p>
                            <p class="describe">@i.overview</p>
                            <p class="run-time"> @i.vote_average’    .     <span>MMPA: PG-13 </span>    .     <span>@i.release_date</span></p>
                            <p>Director: <a href="#">Joss Whedon</a></p>
                            <p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
                        </div>
                    </div>
                    
                }
                

                <div class="topbar-filter">
                    <label>Her Sayfadaki Film Sayısı:</label>
                    <select>
                        <option value="range">5 Film</option>
                        <option value="saab">10 Film</option>
                    </select>
                    <div class="pagination2">
                        <span>Page 1 - 2:</span>
                        <a class="active" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Film Ara</h4>
                        <form class="form-style-1" action="#">
                            <div class="row">
                                <div class="col-md-12 form-it">
                                    <label>Film adı</label>
                                    <input type="text" placeholder="Anahtar kelime girin">
                                </div>
                                @await Component.InvokeAsync("_UserUIMovieGenreListComponentsPartial");
                                <div class="col-md-12 form-it">
                                    <label>Puan Aralığı</label>
                                    <select>
                                        <option value="range">-- Aşağıdan puan aralığı seçin --</option>
                                        <option value="saab">-- Aşağıdan puan aralığı seçin --</option>
                                        <option value="saab">-- Aşağıdan puan aralığı seçin --</option>
                                        <option value="saab">-- Aşağıdan puan aralığı seçin --</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-it">
                                    <label>Yayın Yılı</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select>
                                                <option value="range">Başlangıç</option>
                                                <option value="number">10</option>
                                                <option value="number">20</option>
                                                <option value="number">30</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select>
                                                <option value="range">Bitiş</option>
                                                <option value="number">20</option>
                                                <option value="number">30</option>
                                                <option value="number">40</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <input class="submit" type="submit" value="Gönder">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ads">
                        <img src="/Film-Review-Movie-Database/images/uploads/ads1.png" alt="">
                    </div>
                    <div class="sb-facebook sb-it">
                        <h4 class="sb-title">Find us on Facebook</h4>
                        <iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" height="315" style="width:100%;border:none;overflow:hidden"></iframe>
                    </div>
                    <div class="sb-twitter sb-it">
                        <h4 class="sb-title">Tweet to us</h4>
                        <div class="slick-tw">
                            <div class="tweet item" id="">
                                <!-- Put your twiter id here -->
                            </div>
                            <div class="tweet item" id="">
                                <!-- Put your 2nd twiter account id here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


